<nav class="top-nav">
    <div class="nav-container">
        <span class="brand">Inventory</span>

        <div class="nav-links">
            <NavLink href="/items" class="nav-link" Match="NavLinkMatch.Prefix">
                Items
            </NavLink>

            <NavLink href="/items/create" class="nav-link">
                Create Item
            </NavLink>
        </div>
    </div>
</nav>
