###############################
# .NET BUILD ARTIFACTS
###############################
bin/
obj/
**/bin/
**/obj/
artifacts/

###############################
# C# DEV KIT / VS CODE CACHE
###############################
.vscode/
*.lscache
**/.lscache/
*.csproj.user
*.csproj.lsif*
version=*
version=*.txt

###############################
# USER-SPECIFIC FILES
###############################
*.user
*.suo

###############################
# DATABASE FILES
###############################
*.db
*.sqlite
*.mdf
*.ldf

###############################
# OS FILES
###############################
*.DS_Store
Thumbs.db

###############################
# LOGS
###############################
*.log
